# Written by Max Paul
# April 18, 2021
# Cleaning data to get only the top shot username from the tweets
# Then pushing the final table back to the SQL data base
# experimenting in automating this entire process

### function for checking for new data to add to the database!
## so we dont raise errors -- this is in testing

In [73]:
def clean_df_db_dups(df, tablename, engine, dup_cols=[],
                         filter_continuous_col=None, filter_categorical_col=None):
    """
    Remove rows from a dataframe that already exist in a database
    Required:
        df : dataframe to remove duplicate rows from
        engine: SQLAlchemy engine object
        tablename: tablename to check duplicates in
        dup_cols: list or tuple of column names to check for duplicate row values
    Optional:
        filter_continuous_col: the name of the continuous data column for BETWEEEN min/max filter
                               can be either a datetime, int, or float data type
                               useful for restricting the database table size to check
        filter_categorical_col : the name of the categorical data column for Where = value check
                                 Creates an "IN ()" check on the unique values in this column
    Returns
        Unique list of values from dataframe compared to database table
    """
    args = 'SELECT %s FROM %s' %(', '.join(['"{0}"'.format(col) for col in dup_cols]), tablename)
    args_contin_filter, args_cat_filter = None, None
    if filter_continuous_col is not None:
        if df[filter_continuous_col].dtype == 'datetime64[ns]':
            args_contin_filter = """ "%s" BETWEEN Convert(datetime, '%s')
                                          AND Convert(datetime, '%s')""" %(filter_continuous_col,
                              df[filter_continuous_col].min(), df[filter_continuous_col].max())


    if filter_categorical_col is not None:
        args_cat_filter = ' "%s" in(%s)' %(filter_categorical_col,
                          ', '.join(["'{0}'".format(value) for value in df[filter_categorical_col].unique()]))

    if args_contin_filter and args_cat_filter:
        args += ' Where ' + args_contin_filter + ' AND' + args_cat_filter
    elif args_contin_filter:
        args += ' Where ' + args_contin_filter
    elif args_cat_filter:
        args += ' Where ' + args_cat_filter

    df.drop_duplicates(dup_cols, keep='last', inplace=True)
    df = pd.merge(df, pd.read_sql(args, engine), how='left', on=dup_cols, indicator=True)
    df = df[df['_merge'] == 'left_only']
    df.drop(['_merge'], axis=1, inplace=True)
    return df

### Connecting to my data base

In [74]:
import psycopg2
conn = psycopg2.connect(host="localhost",
                        database="top-twit-mapping",
                        port=5432,
                        user='postgres',
                        password=3301)

### Querying the database to only select the tweets that contain 'TS"
#### Also transforming the data into a dataframe for operations and datacleaning

In [87]:
import pandas as pd

# creating an instance of an operation
cur = conn.cursor()

# our command we want to send to the database
command =   '''
            select user_id,tweet
            from twitter_tweet
            where to_tsvector('english',tweet) @@ plainto_tsquery('english','TS')
            '''

# executing the command
cur.execute(command)

# extracting all the data
tupples = cur.fetchall()
# closing this connection
cur.close()
# col names
column_names = ['user_id','tweet']
# to a dataframe
data = pd.DataFrame(tupples, columns=column_names)

len(data)

1111

# Preprocessing the data for username extraction

In [88]:
import re
def preprocess(dataframe,tweet):

    # remove links
    dataframe[tweet] = dataframe[tweet].str.replace(r'http\S+', '')
    # remove mentions
    dataframe[tweet] = dataframe[tweet].str.replace(r'@\w+', '')
    # remove multiple spaces
    dataframe[tweet] = dataframe[tweet].str.replace(r'\s+', '')
    # remove retweets
    dataframe[tweet] = dataframe[tweet].str.replace(r'RT\S+', '')
    return dataframe[tweet]


data['tweet'] = preprocess(data,'tweet')

<ipython-input-88-8955b68ed43f>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'http\S+', '')
<ipython-input-88-8955b68ed43f>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'@\w+', '')
<ipython-input-88-8955b68ed43f>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'\s+', '')
<ipython-input-88-8955b68ed43f>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'RT\S+', '')

In [89]:
data = pd.DataFrame(data)

In [90]:
data = data[data['tweet'] != '']

#### TS NAME extraction

In [91]:
data['tweet'] = data['tweet'].str.split(':|-.').str[1]

# FINAL USER ID ALONG WITH THEIR TOPSHOT USER NAME FROM THE TWEET LETS GOOOOO

### PUSHING TO THE DATABASE

- notes, cant just call the whole column to insert you have to do it row by row

In [92]:
conn = psycopg2.connect(host="localhost",
                        database="top-twit-mapping",
                        port=5432,
                        user='postgres',
                        password=3301)

In [93]:
data.columns = ['user_id','ts_username']


data.to_csv('data.csv',index=False)


data = pd.read_csv('data.csv')
data = data.dropna(axis=0)

In [94]:
data = data.drop_duplicates(subset='user_id',keep='first')

In [95]:
# CHECKING FOR DUPLICATES !!!!!!!!!!

In [96]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:3301@localhost:5432/top-twit-mapping')

data = clean_df_db_dups(data, 'topshot_username', engine, dup_cols=['user_id'],filter_continuous_col=None, filter_categorical_col=None)
data.head(10)
if len(data) >= 1:
    engine = create_engine('postgresql://postgres:3301@localhost:5432/top-twit-mapping')
    data.to_sql('topshot_username', engine,if_exists='append',index=False)
    print(f'{len(data)} added to the topshot_username table!\n\n\n')
    print('#'*50)
    data
else:
    print('Nothing to add try again later.')

3 added to the topshot_username table!



##################################################