# Written by Max Paul
# April 18, 2021
# Cleaning data to get only the top shot username from the tweets
# Then pushing the final table back to the SQL data base
# experimenting in automating this entire process

### function for checking for new data to add to the database!
## so we dont raise errors -- this is in testing

### Connecting to my data base

In [74]:
import psycopg2
conn = psycopg2.connect(host="localhost",
                        database="top-twit-mapping",
                        port=5432,
                        user='postgres',
                        password=3301)

### Querying the database to only select the tweets that contain 'TS"
#### Also transforming the data into a dataframe for operations and datacleaning

In [87]:
import pandas as pd

# creating an instance of an operation
cur = conn.cursor()

# our command we want to send to the database
command =   '''
            select user_id,tweet
            from twitter_tweet
            where to_tsvector('english',tweet) @@ plainto_tsquery('english','TS')
            '''

# executing the command
cur.execute(command)

# extracting all the data
tupples = cur.fetchall()
# closing this connection
cur.close()
# col names
column_names = ['user_id','tweet']
# to a dataframe
data = pd.DataFrame(tupples, columns=column_names)

len(data)

1111

# Preprocessing the data for username extraction

In [88]:
import re
def preprocess(dataframe,tweet):

    # remove links
    dataframe[tweet] = dataframe[tweet].str.replace(r'http\S+', '')
    # remove mentions
    dataframe[tweet] = dataframe[tweet].str.replace(r'@\w+', '')
    # remove multiple spaces
    dataframe[tweet] = dataframe[tweet].str.replace(r'\s+', '')
    # remove retweets
    dataframe[tweet] = dataframe[tweet].str.replace(r'RT\S+', '')
    return dataframe[tweet]


data['tweet'] = preprocess(data,'tweet')

<ipython-input-88-8955b68ed43f>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'http\S+', '')
<ipython-input-88-8955b68ed43f>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'@\w+', '')
<ipython-input-88-8955b68ed43f>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'\s+', '')
<ipython-input-88-8955b68ed43f>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  dataframe[tweet] = dataframe[tweet].str.replace(r'RT\S+', '')

In [89]:
data = pd.DataFrame(data)

In [90]:
data = data[data['tweet'] != '']

#### TS NAME extraction

In [91]:
data['tweet'] = data['tweet'].str.split(':|-.').str[1]

# FINAL USER ID ALONG WITH THEIR TOPSHOT USER NAME FROM THE TWEET LETS GOOOOO

### PUSHING TO THE DATABASE

- notes, cant just call the whole column to insert you have to do it row by row

In [92]:
conn = psycopg2.connect(host="localhost",
                        database="top-twit-mapping",
                        port=5432,
                        user='postgres',
                        password=3301)

In [93]:
data.columns = ['user_id','ts_username']


data.to_csv('data.csv',index=False)


data = pd.read_csv('data.csv')
data = data.dropna(axis=0)

In [96]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:3301@localhost:5432/top-twit-mapping')
data.head(10)
if len(data) >= 1:
    engine = create_engine('postgresql://postgres:3301@localhost:5432/top-twit-mapping')
    data.to_sql('topshot_username', engine,if_exists='append',index=False)
    print(f'{len(data)} added to the topshot_username table!\n\n\n')
    print('#'*50)
    data
else:
    print('Nothing to add try again later.')

3 added to the topshot_username table!



##################################################